/* Allgemeines */
body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  font-weight: 100;
}

img {
  width: 100%;
  height: auto;
}

/* Kopfbereich */
.header {
  width: 100%;
  height: 60px;
  padding: 10px;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 50px;
  display: inline-block;
}

/* Kopfbereich 'Navigation' */
.navigation {
width: 38%;
padding: 3px;
float: right;
}

nav, nav ul, nav li, nav a {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    color: #000;
    text-decoration: none;
    }

nav li {
    height: 40px;
    margin: 5px;
    padding: 12px;
    font-size: 12pt;
  }

nav a:hover {
    color: #d00;
  }

/* Titelbild */
.titelbild img{
  margin-top:80px;
}


/* Textelemente */
hr {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 25pt;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 18pt;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 12pt;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.bold {
  font-weight: 900;
}

.center {
  font-size: 12pt;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* Raumverteilung unter Titelbild für vers. Seiten */
.portfolio {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 14pt;
}

/* Raumverteilung 'Index' */
.box {
  width: 270px;
  height: 270px;
  margin: 30px;
  display: inline-block;
  }

/* Raumverteilung 'Portfolio' */
.box-galerie {
  margin: 15px;
  display: inline-block;
  }

/* Raumverteilung 'Referenzen' */
.box-referenzen {
  display: inline-block;
  width: 30%;
  margin: 10px;
  vertical-align: top;
}

.text-referenzen {
  font-size: 12pt;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

/* Kontaktformular */
.formular {
  display: inline-block;
}

input#vname,
input#nname,
input#email,
input#webside {
  margin-right: 58.9%;
  height: 40px;
  width: 100%;
  margin-top: 12px;
  padding-left: 10px;
  font-family: "Century Gothic", sans-serif;
  font-size: 12pt;
}

textarea#nachricht {
  margin-right: 78.2%;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-family: "Century Gothic", sans-serif;
  font-size: 12pt;
}

/* Fußbereich */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.footer-text {
  padding-right: 6%;
  text-align: right;
  float: right;
  font-size: 10pt;
}

.footer-text a {
  text-decoration: none;
  color: #000;
}

.footer-text a:hover {
  color: #d00;
}
